@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');

$lightGrey: #e6e8e6;
$greyx11: #beb2c8;
$charcoal: #272727;

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {	
    margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: $charcoal;
}

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    margin: 0 0 .75em;
    padding: 0;
}

#global-header {
    padding: 10px 0 0 0;
    margin: 0 0 20px 0;
    color: $charcoal;
    background-color: $lightGrey;

    .title {
        padding: 0 0 0 20px;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 0 0 0 20px;
        margin: 15px 0 0 0;
        background-color: $greyx11;


        div.nav-item {
            padding: 5px 10px;
            margin: 0 10px 0 0;
            background-color: $greyx11;
            font-weight: bold;

            a { text-decoration: none; color: $charcoal; }
        }
    }
}

.view-panel {
    width: 60vw;
    max-width: 750px;
    margin: 0 auto;
}

.link-button {
    display: flex;
    justify-content: column;
    padding: 10px 10px;
    margin: 0 0 5px 0;
    cursor: pointer;
    background-color: $lightGrey;
    border: 2px #FFF solid;
    font-weight: bold;

    &:hover { border: 2px $greyx11 solid; }
}

.course-roster {
    width: 100%;

    &--header {
        display: flex;
        justify-content: column;
        padding: 10px 0;
        margin: 0 0 5px 0;
        background-color: $lightGrey;
        font-weight: bold;
    }

    &--row {
        display: flex;
        justify-content: column;
        padding: 10px 0;
        margin: 0 0 5px 0;
        cursor: pointer;
        background-color: $lightGrey;
        border: 2px #FFF solid;
        font-weight: bold;

        &:hover { border: 2px $greyx11 solid; }

        &_student-name { flex-shrink: 2; width: 70%; padding: 0 10px; }
        &_score{ width: 15%; text-align: right; padding: 0 10px; }
        &_student-compare{ width: 15%; min-width: 120px; text-align: center; padding: 0 10px; }
    }
}

.student-detail {
    margin: 0 20px 20px 0;

    &--header {
        display: flex;
        justify-content: flex-end;
        padding: 10px 10px;
        margin: 0 0 5px 0;
        background-color: $lightGrey;
        font-weight: bold;

        &_compare { text-align: right; }

        &_name {
            text-align: left;
            flex-grow: 1;
        }
    }

    &--table {
        font-weight: bold;
        width: 100%;

        td { padding: 5px 10px; }
        &_name{ width: 90%; }
        &_score{ width: 10%; text-align: right; }
    }

    &.compare {
        width: 45%;
    }
}

.compare-grid {
    display: flex;
    justify-content: row;
    flex-wrap: wrap;
}

a.comparisonToggle { font-size: small; color: $charcoal; text-decoration: none; }